@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Medium.woff2') format('woff2'),
    url('fonts/SFProDisplay-Medium.woff') format('woff'),
    url('fonts/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Heavy.woff2') format('woff2'),
    url('fonts/SFProDisplay-Heavy.woff') format('woff'),
    url('fonts/SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-UltralightItalic.eot');
    src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
    url('fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
    url('fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-RegularItalic.eot');
    src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
    url('fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-RegularItalic.woff') format('woff'),
    url('fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
    url('fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Thin.woff2') format('woff2'),
    url('fonts/SFProDisplay-Thin.woff') format('woff'),
    url('fonts/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Light.woff2') format('woff2'),
    url('fonts/SFProDisplay-Light.woff') format('woff'),
    url('fonts/SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-BlackItalic.eot');
    src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
    url('fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-BlackItalic.woff') format('woff'),
    url('fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Bold.woff2') format('woff2'),
    url('fonts/SFProDisplay-Bold.woff') format('woff'),
    url('fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Black.eot');
    src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
    url('SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Black.woff2') format('woff2'),
    url('fonts/SFProDisplay-Black.woff') format('woff'),
    url('fonts/SFProDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-SemiboldItalic.eot');
    src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
    url('fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
    url('fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Ultralight.eot');
    src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('fonts/SFProDisplay-Ultralight.woff') format('woff'),
    url('fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-LightItalic.eot');
    src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
    url('fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-LightItalic.woff') format('woff'),
    url('fonts/SFProDisplay-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-ThinItalic.eot');
    src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
    url('fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-ThinItalic.woff') format('woff'),
    url('fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-MediumItalic.eot');
    src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
    url('fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-MediumItalic.woff') format('woff'),
    url('fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('fonts/SFProDisplay-Semibold.woff') format('woff'),
    url('fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-HeavyItalic.eot');
    src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
    url('fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
    url('fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-Regular.woff2') format('woff2'),
    url('fonts/SFProDisplay-Regular.woff') format('woff'),
    url('fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SFProDisplay-BoldItalic.eot');
    src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
    url('fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
    url('fonts/SFProDisplay-BoldItalic.woff') format('woff'),
    url('fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'SF Pro Display';
    font-size: 16px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color: #0077ED;
}

a:hover {
    color: #337ab7;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.myvanbar {
    height: 58px;
    background: #333333 0% 0% no-repeat padding-box;
    color: #fff;
    border-radius: unset;
    padding: 5px 20px;
    border: none;
    letter-spacing: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-right: -1px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        overflow: hidden !important;
        height: 100% !important;
    }
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none !important;
    color: #fff !important;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: #fff;
    padding: 5px;
    font-size: 17px;
}

.navbar-right {
    margin-right: 0px;
    text-align: right;
}

.navbar-right span {
    font-size: 18px;
    font-weight: bold;
}

.navbar-right a {
    font-size: 12px;
}

.banner-section {
    background: url("img/skupka-apple-top.jpg");
    background-size: cover;
    background-position: 100% 22%;
}

.bnr-txt-1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bnr-txt-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 16px;
}

.bnr-btn-1 a {
    background: #0077ED 0% 0% no-repeat padding-box;
    border-radius: 50px;
    padding: 10px 27px;
    color: white;
    display: block;
    font-size: 16px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto 40px;
}

.bnr-btn-2 {
    letter-spacing: 0;
    color: #46A3FF;
    font-size: 16px;
    margin-bottom: 40px;
}

a.navbar-brand.pull-left {
    margin-left: 5px !important;
}

.logo-h {
    margin-top: 3px;
}

.navbar-nav > li {
    /*margin-right: 30px;*/
}

.bnr-2 {
    background: url("img/image-8.jpg");
    background-size: cover;
    color: white;
    background-position-x: 90%;
}

.bnr-3 {
    background: url("img/image-9.jpg");
    background-size: cover;
    color: black;
}

.bnr-shop-head {
    font-size: 24px;
    margin: 20px 0;
    text-align: left;
    display: block;
}

.bnr-shop-text {
    font-size: 16px;
    display: block;
    text-align: left;
}

a.bnr-shop-link {
    font-size: 16px;
    color: #46A3FF;
    text-align: left;
    margin: 20px 0;
    display: block;
}

.bnr-2, .bnr-3 {
    min-height: 225px;
}

.select-gadget {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    width: 255px;
    height: 255px;
    margin: 20px;
}

.select-gadget:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px #00000033;
}


.select-gadget .gad-text {
    font-size: 18px;
}

.select-gadget img {
    margin: 25px auto;
    max-width: 100%;
}

.vykup-block img {
    margin-bottom: 25px;
}

.vykup-block {
    position: relative;
}

.vykup-block:after {
    display: block;
    content: '';
    background: url(img/arrow-block.svg);
    width: 62px;
    height: 22px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 22px;
}

.vykup-block:nth-child(3):after {
    display: none;
}

.panel-group .panel {
    border-radius: 0 !important;
}

.panel-title {
    font-size: 18px;
    font-weight: bold;
}

.form-container {
    background: url("img/vykup-apple-bg.jpg");
    background-size: cover;
    background-position: 100% 100%;
    padding-bottom: 20px;
}

.zayavka-submit {
    background: #0077ED 0% 0% no-repeat padding-box !important;
    border-radius: 50px !important;
    border: none !important;
    width: 180px;
    padding: 10px;
    color: white;
    font-size: 16px;
}

.form-control {
    font-size: 16px;
}

.articles-bottom {
    height: 360px;
    position: relative;
    padding: 0;
}


.articles-bottom :hover {
    /*opacity: 0.7;*/
    cursor: pointer;
}

.articles-bottom img {
    width: 100%;
    height: 100%;
}

.articles-bottom-text {
    position: absolute;
    bottom: 25px;
    background: #333333;
    color: white;
    padding: 4px 16px;
    font-size: 24px;
    max-width: 70%;
}

.footer-container {
    background: #000000;
    padding: 20px 20px 0;
    color: white;
}

.footer-list {
    list-style: none;
}

.footer-list a {
    color: white;
}

.footer-bottom {
    font-size: 12px;
    margin-left: 0px;
    margin-right: 0;
    padding: 15px 0;
    border-top: 1px solid #383838;
}

.bnr-btn-2 a, .bnr-shop-link {
    position: relative;
    width: fit-content;
}

.bnr-btn-2 a:after, .bnr-shop-link:after, .article-link:after {
    background: url("img/arr.svg");
    content: '';
    width: 4px;
    height: 8px;
    position: absolute;
    display: block;
    right: -8px;
    top: 7px;
    background-size: cover;
}

.bnr-btn-2 a:after {
    right: -8px;
    top: 5px;
}

.footer-list li {
    margin-bottom: 8px;
}

@media screen and (max-width: 1024px) {
    .container-calc {
        /*padding: 0px !important;*/
    }

    .container {
        padding: 0px 30px !important;
    }

    .select-gadget {
        float: none;
        width: 80%;
        height: auto;
        margin: 10px auto;
        padding: 10px;
    }

    .bnr-shop-head {
        margin: 0;
        padding: 20px 0;
    }

    .text2undbnr {
        padding-left: 15px !important;
        padding-top: 15px;
    }

    .vykup-block:after {
        display: none;
    }

    .vykup-block {
        margin-top: 30px;
    }

    .container-arts {
        display: none;
    }

    form.zayavka-main {
        width: 80%;
        margin: 0 auto;
    }

    .footer-col {
        margin-bottom: 30px;
    }

    .linkwhere {
        position: relative;
        top: 7px;
    }

    div#accordion {
        width: 90%;
        margin: 0px auto 20px;
    }

    h2 {
        font-size: 28px !important;
        padding: 0 20px;
    }

    .top-right {
        display: none;
    }

    .bnr-txt-1 {
        font-size: 30px;
    }

    .bnr-2 {
        background-position-x: 50%;
    }

    .navbar-default .navbar-collapse {
        background: black;
        z-index: 9999;
        position: relative;
        border: none;
        margin: 0;
    }

    .navbar-default .navbar-collapse {
        background: black;
        z-index: 9999;
        border: none;
        margin: 0;
        position: relative;
        right: 0;
        top: 3px;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}


@media screen and (min-width: 415px) and (max-width: 1024px) {
    .navbar-default .navbar-collapse {
        margin-right: -66px;
        padding-left: 70px !important;
    }
}

.panel-heading {
    padding: 0 !important;
}

.panel-heading .panel-title, .panel-heading .panel-title a {
    width: 100%;
    height: 100%;
    display: block;
}

.panel-heading a {
    padding: 10px 15px 10px 30px;
}

.panel-default > .panel-heading {
    background-image: none !important;
    background: #F2F2F2;
}

.add-photo:before {
    content: '';
    display: block;
    background: url(img/camera.svg);
    width: 26px;
    height: 22px;
    float: left;
    margin-right: 8px;
    position: relative;
    top: -2px;
}

input, select {
    height: 42px !important;
    border: 1px solid #BBBBBB !important;
    border-radius: 3px !important;
    background: #ffffff;
    color: #A0A0A0;
}

select {
    -webkit-appearance: none;
    background: url("img/arr-bot.svg") no-repeat right white !important;
    background-position-x: 98% !important;
}

.navbar-default .navbar-nav > li > a:hover, .active-nav {
    border-bottom: 3px solid #46A3FF;
}

.panel-title a {
    position: relative;
}

.panel-title a:before {
    background: url("img/arr-bot-black.svg");
    content: '';
    display: block;
    width: 13px;
    height: 6px;
    position: absolute;
    left: 0px;
    background-size: cover;
    margin: 7px 0 0 10px;
}

.panel-title a.collapsed:before {
    background: url("img/arr-right-black.svg");
    content: '';
    display: block;
    width: 7px;
    height: 14px;
    position: absolute;
    left: 0px;
    background-size: cover;
    margin: 3px 0 0 12px;
}

.my_modal .modal-dialog {
    width: 550px;
    box-shadow: 0px 0px 6px #00000029;
}

.my_modal .modal-dialog .modal-content {
    border-radius: 0;
}

.my_modal h4.modal-title {
    font-size: 38px;
    margin: 10px 15px;
    font-weight: 600;
}

.my_modal button.close {
    position: relative;
    right: -31px;
    top: -31px;
    background: #0077ED;
    opacity: 1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: white;
    text-shadow: none;
    font-weight: normal;
    font-size: 32px;
}

.my_modal .modal-header {
    border-bottom: 0;
}

.my_modal .form-control {
    margin-bottom: 20px;
}

.my_modal .modal-body {
    padding: 0 30px 20px;
}

.breadcrumb {
    background: none !important;
    text-align: center;
    margin: 40px auto 0;
    padding: 0;
    font-size: 12px;
}

.bnr-txt-1-pages {
    /*margin-top: 20px;*/
}

.h2-content {
    font-size: 38px;
    margin: 40px 0;
}

.row p {
    margin-bottom: 20px;
}

ul.stepper.stepper-horizontal {
    list-style: none;
    padding: 0 10px;
}

ul.stepper.stepper-horizontal li {
    display: inline-block;
}

ul.stepper.stepper-horizontal li a:hover {
    text-decoration: none;
}

ul.stepper.stepper-horizontal li .circle {
    display: block;
    width: 38px;
    height: 38px;
    text-align: center;
    border: 2px solid #BBBBBB;
    border-radius: 50%;
    padding-top: 3px;
    color: #BBBBBB;
    font-size: 20px;
}

.stepper-line {
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #BBBBBB;
    position: relative;
    top: -5px;
    margin-left: -3px;
    margin-right: -3px;
}

ul.stepper.stepper-horizontal li.active .circle {
    color: #0077ED;
    border-color: #0077ED;
}

ul.stepper.stepper-horizontal li.completed .circle {
    background: #0077ED;
    border-color: #0077ED;
    color: white;
}

.select-gadget-mini:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px #00000033;
}

.select-gadget-mini {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    width: 140px;
    height: 140px;
    margin: 15px;
    color: #1D1D1D;
    font-size: 20px;
    padding-top: 45px;
    float: left;
}


@media screen and (max-width: 768px) {
    .stepper-line {
        width: 50px;
    }
}

.blog-article {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.article-image-block {
    position: relative;
    width: 100%;
}

.blog-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.blog-tag-block {
    position: absolute;
    top: 10px;
    left: 15px;
}

a.blog-tag {
    background: #333333;
    color: white;
    padding: 1px 5px;
    font-size: 14px;
}

h2.article-blog-title {
    position: absolute;
    bottom: 20px;
    background: #333333;
    color: white;
    padding: 4px 15px;
    font-size: 38px;
    margin-right: 40px;
}

a.article-link {
    position: relative;
    color: #46A3FF;
}

.blog-widget {
    margin-bottom: 15px;
}

.blog-widget.not-rly-black-widget {
    background: #333333;
    color: white;
}

.blog-widget.not-rly-white-widget {
    background: #F1EDE7;
}

.blog-widget.black-widget {
    background: black;
    color: white;
}

.blog-widget-title {
    font-size: 24px;
    padding: 20px;
}

.blog-widget p {
    padding: 0 20px;
}

.blog-widget a {
    padding-left: 20px;
    padding-bottom: 20px;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
}

.articles-bottom-page {
    height: 190px;
    position: relative;
    padding: 0;
}

.articles-bottom-text-page {
    font-size: 16px;
    max-width: 90%;
}

.art-sec-title {
    font-size: 24px;
    margin: 30px 0;
}

@media screen and (max-width: 1024px) {
    .articles-bottom-page {
        height: auto;
    }

    .mini-image-phone {
        display: none;
    }

    .big-image-phone {
        margin: 15px 0;
    }

    .modal.in .modal-dialog {
        max-width: 95%;
    }

    .my_modal button.close {
        right: -22px;
        top: -22px;
    }
}

.select-gadget .gad-price {
    font-size: 18px;
    font-weight: bold;
}

.select-gadget.gad-with-price {
    height: auto;
    padding: 10px;
}

.gad-tag {
    background: black;
    color: white;
    width: fit-content;
    width: -moz-fit-content;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
}

.mini-image-phone {
    width: 100%;
    height: auto;
    margin-top: 25px;
    border: 1px solid #CCCCCC;
    padding: 8px;
}

.big-image-phone {
    border: 1px solid #CCCCCC;
    padding: 28px;
    width: 100%;
}

.phone-page-price {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

a.zayavka-submit.zakaz-phone-page, a.zayavka-submit.obmen-phone-page {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    padding: 10px 40px;
}

a.zayavka-submit.zakaz-phone-page:hover {
    color: white;
}

a.zayavka-submit.obmen-phone-page:hover {
    color: #0077ED;
}

a.zayavka-submit.zakaz-phone-page {
    float: left;
}

a.zayavka-submit.obmen-phone-page {
    float: right;
    background: white !important;
    color: #0077ED;
    border: 1px solid #0077ED !important;
}

.phone-params-val {
    font-weight: bold;
}

img.media-object.dost-img {
    display: inline-block;
    margin-right: 10px;
}